<footer class="footer background1 py-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        @ 2023 Copyright:
        <span>LearnCodeWithAPSolution </span>
      </div>
    </div>
  </div>
</footer>